$error: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  ::before,
  ::after {
    box-sizing: border-box;
  }
  ::selection {
    background-color: #000;
    color: #fff;
  }
}
html,body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #EAE8E3;
  min-height: 100%;
  * {
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      height: 3px;
      background: #615c60;
      cursor: pointer;
    }
  }
  &.no_scroll {
    //position: fixed;
    //left: 0;
    //width: 100%;
    //height: 100%;
    overflow: hidden;
  }
}
.page {
  width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}
ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
input,
textarea,
button,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  background: none;
  &::-webkit-contacts-auto-fill-button {
    opacity: 0;
  }
  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

button {
  cursor: pointer;
  transition: .3s;
}

#all {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header,
  main,
  footer {
    width: 100%;
    max-width: 100%;
  }
  main {
    flex-grow: 1;
  }
}


.btn {
  width: 202px;
  max-width: 100%;
  height: 35px;
  background-color: #ff9933;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  transition: .3s;
  &:hover {
    @media all and (min-width: 1025px) {
      background: #e79c39;
    }
  }
}