header {
  background: #ffffff;
  padding: 12px 0 38px;
  .page {
    .top {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 14px;
      a, span {
        padding-top: 3px;
        font-size: 16px;
        color: #000000;
        text-decoration: none;
        position: relative;
      }
      .phone {
        padding-left: 33px;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 21px;
          height: 22px;
          background: url("../img/svg/phone.svg") center / 100% no-repeat;
        }
      }
      .clock {
        padding-left: 32px;
        margin-left: 65px;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          background: url("../img/svg/clock.svg") center / 100% no-repeat;
        }
      }
    }
    .bot {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
  }
}

.slide_1 {
  background: url("../img/header.jpg") left top / cover no-repeat;
  padding: 121px 0 34px;
  .page {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .left, .right {
      width: 50%;
    }
    .left {
      max-width: 660px;
      padding-top: 38px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 20px;
      .img {
        display: block;
      }
    }
    .right {
      text-align: center;
      width: 42%;
      max-width: 700px;
      .img {
        margin-top: 50px;
      }
      .btn {
        width: 250px;
        height: 43px;
        font-size: 21px;
      }
    }
    &:first-child {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
    }
    h1 {
      display: inline-block;
      text-align: left;
      color: #ffffff;
      font-size: 37px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 58px;
      width: 65%;
    }
  }
}

.img_txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .image, .text {
    width: 50%;
  }
  .image {
    img {
      width: 100%;
    }
  }
  .text.pl {
    padding-left: 150px;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 37.2px;
    margin-bottom: 73px;
  }
  h3 {
    color: #007096;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 17.95px;
    padding-left: 75px;
    margin-bottom: 45px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      width: 53px;
      height: 3px;
      background-color: #007096;
    }
  }
  li,
  p {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 42px;
  }
  li {
    padding-left: 14px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 13px;
      width: 4px;
      height: 4px;
      background: #000000;
      border-radius: 100%;
    }
  }
  .quote {
    font-size: 37px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 31px;
  }
  .author {
    text-align: right;
    color: #212121;
    font-size: 25px;
    font-style: italic;
    line-height: 30.01px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.slide_2 {
  margin-top: 127px;
  .page {
    align-items: stretch;
  }
  .item {
    display: flex;
    align-items: flex-start;
    &:not(:last-of-type) {
      margin-bottom: 45px;
    }
    .ico {
      flex-shrink: 0;
      width: 50px;
      margin-right: 24px;
    }
    .item_text {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .text {
    padding: 30px 60px 50px 80px;
  }
  .button {
    padding-top: 10px;
  }
}

.slide_3 {
  margin-top: 257px;
  .page {
    position: relative;
    justify-content: flex-end;
    .text {
      position: absolute;
      width: 56.55%;
      top: -90px;
      left: 20px;
      height: 81.69%;
      padding: 30px 21.5% 30px 7.3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .image {
      width: 57.93%;
      z-index: 2;
    }
  }
}

.slide_4 {
  margin-top: 150px;
  .page {
    align-items: stretch;
    .text {
      padding: 30px 4%;
    }
  }
}

.slide_5 {
  background-color: #007096;
  text-align: center;
  color: #ffffff;
  padding: 116px 0 75px;
  margin-top: 98px;
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 87px 8% 0;
    .ico {
      margin-bottom: 20px;
    }
    .item {
      width: 20%;
      padding: 0 8px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 80px;
    }
  }
}

.slide_6 {
  margin-top: 107px;
  .page {
    align-items: stretch;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 70px 30px 80px;
    }
  }
}

.slide_7 {
  margin-top: 127px;
  .page {
    align-items: stretch;
    h2 {
      margin-bottom: 38px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 9.4% 30px 7.5%;
    }
  }
}

.slide_8 {
  margin-top: 169px;
  .page {
    position: relative;
    .text {
      padding: 68px 108px 58px 65px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
      position: relative;
      .button {
        padding-top: 20px;
        text-align: center;
      }
    }
    .image {
      position: absolute;
      right: 20px;
      bottom: -145px;
      width: 54.35%;
      z-index: 2;
    }
  }
}

.slide_9 {
  margin-top: 321px;
  .page {
    align-items: stretch;
    .text {
      width: 44.33em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 88px;
    }
    .image {
      width: 55.67%;
      flex-shrink: 0;
    }
  }
}

.white_bg {
  background: #ffffff;
}
footer {
  background-color: #007096;
  color: #ffffff;
  margin-top: 123px;
  padding: 72px 0 60px;
  .select {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 6px;
      pointer-events: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent;
    }
    input {
      cursor: pointer;
    }
    .drop_select {
      z-index: 2;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      &.open {
        display: block;
      }
      .i {
        height: 28px;
        width: 100%;
        background: #ffffff;
        font-size: 18px;
        color: #000000;
        padding: 5px 10px;
        cursor: pointer;
        &.current,
        &:hover {
          background: #ff9933;
          color: #ffffff;
        }
      }
    }
  }
  .fields {
    display: flex;
    justify-content: space-between;
  }
  textarea,
  input {
    height: 43px;
    border-bottom: 2px solid #fff;
    width: 122px;
    resize: none;
    margin-bottom: 33px;
    &.col_1 {
      width: 100%;
    }
    &.col_2 {
      width: calc(67% - 8px);
    }
    &.col_3 {
      width: calc(33.333% - 8px);
    }
  }
  textarea {
    height: 35px;
    margin-bottom: 60px;
  }
  .checkbox {
    label {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      padding-left: 25px;
      position: relative;
      display: block;
      cursor: pointer;
      margin-bottom: 15px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
      }
      &:before {
        width: 14px;
        height: 14px;
        border: 1px solid #fff;
      }
      &:after {
        width: 8px;
        height: 8px;
        background: #ffffff;
        left: 3px;
        top: 5px;
        opacity: 0;
        transition: .3s;
      }
    }
    input:checked + label:after {
      opacity: 1;
    }
  }
  .required {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 25px;
    margin-top: 30px;
  }
  .button {
    text-align: left;
    margin-top: 27px;
  }
  .page {
    display: flex;
    justify-content: space-between;
    .left {
      width: 55.67%;
      .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        margin-bottom: 45px;
      }
    }
    .right {
      width: 374px;
      flex-shrink: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 38px;
      margin: 224px 0 0;
      a {
        color: #ffffff;
        text-decoration: none;
      }
      .address {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding: 17px 9px 17px 72px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 19px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/location.png") center / 31px 31px no-repeat;
        }
      }
      .phones {
        position: relative;
        padding: 0 0 0 72px;
        &:after {
          content: '';
          position: absolute;
          top: 5px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/telefon.png") center / 31px 31px no-repeat;
        }
      }
      .email {
        position: relative;
        padding: 0 0 0 72px;
        margin: 11px 0 0;
        &:after {
          content: '';
          position: absolute;
          top: 4px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/email.png") center / 31px 31px no-repeat;
        }
      }
      .contacts {
        padding: 17px 0;
      }
      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 37.2px;
        margin-bottom: 19px;
      }
    }
    &.bot_footer {
      justify-content: flex-end;
      margin-top: 59px;
      a {
        margin-left: 85px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        transition: .3s;
        &:hover {
          @media all and (min-width: 1025px) {
            color: #ff9933;
          }
        }
      }
    }
  }
}


.popup_team {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .86;
  }
  .popup {
    margin: auto;
    width: 1364px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    .top {
      position: relative;
      .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 52px;
        right: 57px;
        cursor: pointer;
        svg {
          transition: .3s;
        }
        &:hover {
          svg {
            fill: #007096;
          }
        }
      }
    }
    .content {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 177px 138px 277px;
      .t {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      .txt {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

.top_page {
  margin: 50px 0 39px;
  position: relative;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    color: #007096;
    font-size: 28px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: .3s;
    svg {
      transition: .3s;
      fill: #007096;
    }
    span {
      margin-left: 11px;
    }
    &:hover {
      color: #000000;
      svg {
        fill: #000;
      }
    }
  }
  h1 {
    font-size: 37px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 200px;
  }
}

.description_page {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 1090px;
  max-width: 100%;
  margin: 0 auto;
}

.our_team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  .item {
    width: calc( (100% - 48px) / 4);
    margin-bottom: 60px;
    &:not(:nth-child(4n)) {
      margin-right: 16px;
    }
    .info {
      padding: 32px 22px;
      background: #ffffff;
    }
    img {
      width: 100%;
    }
    .name {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .position {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}

.info_for_popup {
  display: none;
}

.breadcrumbs {
  font-size: 18px;
  color: #848484;
  margin: 21px 0 0;
  a {
    color: #848484;
    text-decoration: none;
  }
  span {
    font-weight: 600;
  }
  svg {
    margin: 0 14px 0 10px;
  }
}