@media all and (max-width: 1680px) {
  .slide_2, .slide_3, .slide_4, .slide_6, .slide_7, .slide_8, .slide_9 {
    margin-top: 100px;
    .img_txt {
      background: #ffffff;
      padding-bottom: 60px;
    }
    .img_txt .image {
      padding-top: 60px;
      width: 35%;
      order: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
    .img_txt .text {
      display: block;
      width: 65%;
      order: 1;
      padding: 60px 40px 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: none;
      h2 {
        margin-bottom: 50px;
      }
    }
  }
  .slide_6 {
    .img_txt .text {
      display: flex;
    }
  }
  .slide_8 {
    .img_txt {
      align-items: flex-start;
    }
  }
}

@media all and (max-width: 1440px) {
  .img_txt {
    align-items: flex-start;
  }
  .img_txt .text.pl {
    padding-left: 50px;
  }
  .slide_3 {
    .page {
      .text {
        height: auto;
      }
    }
  }
}

@media all and (max-width: 1400px) {
  footer {
    margin-top: 100px;
  }
}

@media all and (max-width: 1200px) {
  .our_team .item {
    .name {
      font-size: 20px;
    }
    .position {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 1100px) {
  .slide_1 {
    padding: 100px 0 58px;
    .page .right {
      width: 40%;
    }
    .page .left .img {
      margin-top: 30px;
    }
  }
}

@media all and (max-width: 1024px) {
  .slide_1 .page h1 {
    width: 100%;
  }
  header .text {
    font-size: 20px;
  }
  .slide_5 .items {
    padding: 60px 0 0;
    .item {
      width: 33%;
    }
  }

  .top_page {
    h1 {
      font-size: 24px;
      line-height: 28px;
    }
    .back {
      font-size: 20px;
    }
  }

  .our_team {
    justify-content: space-between;
    .item {
      width: calc( (100% - 20px) / 2);
      margin-right: 0 !important;
    }
  }

  .popup_team .popup {
    .content {
      padding: 100px 40px;
    }
    .top .close {
      top: 20px;
      right: 20px;
    }
  }

}

@media all and (max-width: 920px) {
  footer .page:not(.bot_footer) {
    flex-wrap: wrap;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      margin-top: 40px;
    }
  }
  footer .page.bot_footer a {
    margin-left: 30px;
  }
}

@media all and (max-width: 800px) {
  .img_txt h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  header .page .bot {
    flex-wrap: wrap;
    .btn_wrap {
      width: 100%;
      text-align: right;
    }
  }
  .top_page h1 {
    padding: 0;
  }
}

@media all and (max-width: 700px) {
  .slide_2, .slide_3, .slide_4, .slide_6, .slide_7, .slide_8, .slide_9 {
    margin-top: 60px;
    .img_txt {
      padding-bottom: 0;
      background: none;
      .image {
        padding: 0;
      }
    }
  }
  .slide_1 {
    background: url('../img/mobile_bg.png') bottom left / cover no-repeat;
  }
  .slide_1 .page {
    flex-direction: column;
    .left {
      text-align: center;
      order: 1;
      padding-bottom: 0;
      .img {
        margin-left: 0;
      }
    }
    .right {
      order: 0;
    }
    .left, .right {
      width: 100%;
      max-width: 100%;
      h1 {
        text-align: center;
      }
    }
  }
  .slide_1 .page h1 {
    text-align: center;
    margin-bottom: 0;
  }
  .slide_2, .slide_3, .slide_4, .slide_6, .slide_7, .slide_8, .slide_9 {
    .page {
      flex-direction: column;
      .image {
        width: 100%;
        order: 1;
        position: static;
      }
      .text {
        position: static;
        order: 0;
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        &:not(.white_bg) {
          padding: 0;
        }
      }
    }
  }
  .slide_2, .slide_4, .slide_6 {
    .page {
      .text {
        padding: 40px 20px;
      }
    }
  }
}

@media all and (max-width: 550px) {
  header {
    padding: 12px 0 16px;
  }
  header .page {
    display: flex;
    flex-direction: column;
    .top {
      margin-top: 20px;
      order: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .phone {
        margin-bottom: 20px;
      }
      .clock {
        margin: 0;
      }
    }
    .bot {
      order: 0;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      .text {
        margin: 20px 0;
      }
      .btn_wrap {
        text-align: center;
      }
    }
  }
  .slide_1 {
    padding: 40px 0 100px;
    .page {
      padding: 0 40px;
      h1 {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
      }
      .left {
        padding: 0;
      }
      .right {
        .btn {
          width: 160px;
          height: 31px;
          font-size: 16px;
        }
      }
    }
  }
  .slide_3 .page .text {
    padding: 30px 20px;
  }
  .slide_4 {
    margin-top: 60px;
    .page {
      h2 {
        margin-bottom: 40px;
      }
    }
  }
  .slide_5 .items .item {
    width: 100%;
    margin-bottom: 30px;
  }
  .slide_6 {
    margin-top: 60px;
    .img_txt .quote {
      font-size: 22px;
    }
    .img_txt .author {
      font-size: 18px;
    }
  }
  .slide_7, .slide_8, .slide_9 {
    margin-top: 60px;
    .page .text {
      padding: 30px 20px;
    }
  }
  footer .title {
    font-size: 28px !important;
  }
  footer .fields {
    flex-wrap: wrap;
    input {
      width: 100% !important;
    }
  }
}

@media all and (max-width: 500px) {
  .our_team .item {
    width: 100%;
  }
  .popup_team .popup .content {
    padding: 60px 40px 60px 20px;
    .t {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .txt {
      font-size: 16px;
    }
  }
}

@media all and (max-width: 400px) {
  .img_txt h3 {
    padding-left: 0;
    margin-bottom: 20px;
    &:after {
      display: none;
    }
  }
}