@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0; }
  * ::before,
  * ::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  * ::-moz-selection {
    background-color: #000;
    color: #fff; }
  * ::selection {
    background-color: #000;
    color: #fff; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  min-width: 320px;
  -webkit-text-size-adjust: 100%; }

body {
  background: #EAE8E3;
  min-height: 100%; }
  body *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent; }
  body *::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    background: #615c60;
    cursor: pointer; }
  body.no_scroll {
    overflow: hidden; }

.page {
  width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%; }

ul, li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

input,
textarea,
button,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  background: none; }
  input::-webkit-contacts-auto-fill-button,
  textarea::-webkit-contacts-auto-fill-button,
  button::-webkit-contacts-auto-fill-button,
  select::-webkit-contacts-auto-fill-button {
    opacity: 0; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  button::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  input:-moz-placeholder,
  textarea:-moz-placeholder,
  button:-moz-placeholder,
  select:-moz-placeholder {
    color: #ffffff;
    opacity: 1; }
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  button::-moz-placeholder,
  select::-moz-placeholder {
    color: #ffffff;
    opacity: 1; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  button:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  input::placeholder,
  textarea::placeholder,
  button::placeholder,
  select::placeholder {
    color: #ffffff;
    opacity: 1; }

input[type=checkbox],
input[type=radio] {
  display: none; }

button {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

#all {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #all header,
  #all main,
  #all footer {
    width: 100%;
    max-width: 100%; }
  #all main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.btn {
  width: 202px;
  max-width: 100%;
  height: 35px;
  background-color: #ff9933;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }
  @media all and (min-width: 1025px) {
    .btn:hover {
      background: #e79c39; } }

header {
  background: #ffffff;
  padding: 12px 0 38px; }
  header .page .top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 14px; }
    header .page .top a, header .page .top span {
      padding-top: 3px;
      font-size: 16px;
      color: #000000;
      text-decoration: none;
      position: relative; }
    header .page .top .phone {
      padding-left: 33px; }
      header .page .top .phone:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 21px;
        height: 22px;
        background: url("../img/svg/phone.svg") center/100% no-repeat; }
    header .page .top .clock {
      padding-left: 32px;
      margin-left: 65px; }
      header .page .top .clock:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        background: url("../img/svg/clock.svg") center/100% no-repeat; }
  header .page .bot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase; }

.slide_1 {
  background: url("../img/header.jpg") left top/cover no-repeat;
  padding: 121px 0 34px; }
  .slide_1 .page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .slide_1 .page .left, .slide_1 .page .right {
      width: 50%; }
    .slide_1 .page .left {
      max-width: 660px;
      padding-top: 38px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
         -moz-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 20px; }
      .slide_1 .page .left .img {
        display: block; }
    .slide_1 .page .right {
      text-align: center;
      width: 42%;
      max-width: 700px; }
      .slide_1 .page .right .img {
        margin-top: 50px; }
      .slide_1 .page .right .btn {
        width: 250px;
        height: 43px;
        font-size: 21px; }
    .slide_1 .page:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 30px; }
    .slide_1 .page h1 {
      display: inline-block;
      text-align: left;
      color: #ffffff;
      font-size: 37px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 58px;
      width: 65%; }

.img_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .img_txt .image, .img_txt .text {
    width: 50%; }
  .img_txt .image img {
    width: 100%; }
  .img_txt .text.pl {
    padding-left: 150px; }
  .img_txt h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 37.2px;
    margin-bottom: 73px; }
  .img_txt h3 {
    color: #007096;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 17.95px;
    padding-left: 75px;
    margin-bottom: 45px; }
    .img_txt h3:after {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      width: 53px;
      height: 3px;
      background-color: #007096; }
  .img_txt li,
  .img_txt p {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 42px; }
  .img_txt li {
    padding-left: 14px;
    position: relative; }
    .img_txt li:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 13px;
      width: 4px;
      height: 4px;
      background: #000000;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%; }
  .img_txt .quote {
    font-size: 37px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 31px; }
  .img_txt .author {
    text-align: right;
    color: #212121;
    font-size: 25px;
    font-style: italic;
    line-height: 30.01px;
    text-transform: uppercase;
    font-weight: 400; }

.slide_2 {
  margin-top: 127px; }
  .slide_2 .page {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .slide_2 .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .slide_2 .item:not(:last-of-type) {
      margin-bottom: 45px; }
    .slide_2 .item .ico {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 50px;
      margin-right: 24px; }
    .slide_2 .item .item_text {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px; }
  .slide_2 .text {
    padding: 30px 60px 50px 80px; }
  .slide_2 .button {
    padding-top: 10px; }

.slide_3 {
  margin-top: 257px; }
  .slide_3 .page {
    position: relative;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .slide_3 .page .text {
      position: absolute;
      width: 56.55%;
      top: -90px;
      left: 20px;
      height: 81.69%;
      padding: 30px 21.5% 30px 7.3%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .slide_3 .page .image {
      width: 57.93%;
      z-index: 2; }

.slide_4 {
  margin-top: 150px; }
  .slide_4 .page {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .slide_4 .page .text {
      padding: 30px 4%; }

.slide_5 {
  background-color: #007096;
  text-align: center;
  color: #ffffff;
  padding: 116px 0 75px;
  margin-top: 98px; }
  .slide_5 .items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 87px 8% 0; }
    .slide_5 .items .ico {
      margin-bottom: 20px; }
    .slide_5 .items .item {
      width: 20%;
      padding: 0 8px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 80px; }

.slide_6 {
  margin-top: 107px; }
  .slide_6 .page {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .slide_6 .page .text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 30px 70px 30px 80px; }

.slide_7 {
  margin-top: 127px; }
  .slide_7 .page {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .slide_7 .page h2 {
      margin-bottom: 38px; }
    .slide_7 .page .text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 30px 9.4% 30px 7.5%; }

.slide_8 {
  margin-top: 169px; }
  .slide_8 .page {
    position: relative; }
    .slide_8 .page .text {
      padding: 68px 108px 58px 65px;
      -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
         -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
      position: relative; }
      .slide_8 .page .text .button {
        padding-top: 20px;
        text-align: center; }
    .slide_8 .page .image {
      position: absolute;
      right: 20px;
      bottom: -145px;
      width: 54.35%;
      z-index: 2; }

.slide_9 {
  margin-top: 321px; }
  .slide_9 .page {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .slide_9 .page .text {
      width: 44.33em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 30px 88px; }
    .slide_9 .page .image {
      width: 55.67%;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }

.white_bg {
  background: #ffffff; }

footer {
  background-color: #007096;
  color: #ffffff;
  margin-top: 123px;
  padding: 72px 0 60px; }
  footer .select {
    position: relative; }
    footer .select:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 6px;
      pointer-events: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent; }
    footer .select input {
      cursor: pointer; }
    footer .select .drop_select {
      z-index: 2;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }
      footer .select .drop_select.open {
        display: block; }
      footer .select .drop_select .i {
        height: 28px;
        width: 100%;
        background: #ffffff;
        font-size: 18px;
        color: #000000;
        padding: 5px 10px;
        cursor: pointer; }
        footer .select .drop_select .i.current, footer .select .drop_select .i:hover {
          background: #ff9933;
          color: #ffffff; }
  footer .fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer textarea,
  footer input {
    height: 43px;
    border-bottom: 2px solid #fff;
    width: 122px;
    resize: none;
    margin-bottom: 33px; }
    footer textarea.col_1,
    footer input.col_1 {
      width: 100%; }
    footer textarea.col_2,
    footer input.col_2 {
      width: -webkit-calc(67% - 8px);
      width: -moz-calc(67% - 8px);
      width: calc(67% - 8px); }
    footer textarea.col_3,
    footer input.col_3 {
      width: -webkit-calc(33.333% - 8px);
      width: -moz-calc(33.333% - 8px);
      width: calc(33.333% - 8px); }
  footer textarea {
    height: 35px;
    margin-bottom: 60px; }
  footer .checkbox label {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 25px;
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 15px; }
    footer .checkbox label:before, footer .checkbox label:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0; }
    footer .checkbox label:before {
      width: 14px;
      height: 14px;
      border: 1px solid #fff; }
    footer .checkbox label:after {
      width: 8px;
      height: 8px;
      background: #ffffff;
      left: 3px;
      top: 5px;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
  footer .checkbox input:checked + label:after {
    opacity: 1; }
  footer .required {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 25px;
    margin-top: 30px; }
  footer .button {
    text-align: left;
    margin-top: 27px; }
  footer .page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .page .left {
      width: 55.67%; }
      footer .page .left .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        margin-bottom: 45px; }
    footer .page .right {
      width: 374px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 38px;
      margin: 224px 0 0; }
      footer .page .right a {
        color: #ffffff;
        text-decoration: none; }
      footer .page .right .address {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding: 17px 9px 17px 72px;
        position: relative; }
        footer .page .right .address:after {
          content: '';
          position: absolute;
          top: 19px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/location.png") center/31px 31px no-repeat; }
      footer .page .right .phones {
        position: relative;
        padding: 0 0 0 72px; }
        footer .page .right .phones:after {
          content: '';
          position: absolute;
          top: 5px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/telefon.png") center/31px 31px no-repeat; }
      footer .page .right .email {
        position: relative;
        padding: 0 0 0 72px;
        margin: 11px 0 0; }
        footer .page .right .email:after {
          content: '';
          position: absolute;
          top: 4px;
          left: 15px;
          width: 31px;
          height: 31px;
          background: url("../img/png_icon/email.png") center/31px 31px no-repeat; }
      footer .page .right .contacts {
        padding: 17px 0; }
      footer .page .right .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 37.2px;
        margin-bottom: 19px; }
    footer .page.bot_footer {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-top: 59px; }
      footer .page.bot_footer a {
        margin-left: 85px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        transition: .3s; }
        @media all and (min-width: 1025px) {
          footer .page.bot_footer a:hover {
            color: #ff9933; } }

.popup_team {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s; }
  .popup_team.show {
    opacity: 1;
    pointer-events: auto; }
  .popup_team .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .86; }
  .popup_team .popup {
    margin: auto;
    width: 1364px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: #fff; }
    .popup_team .popup .top {
      position: relative; }
      .popup_team .popup .top .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 52px;
        right: 57px;
        cursor: pointer; }
        .popup_team .popup .top .close svg {
          -webkit-transition: .3s;
          -o-transition: .3s;
          -moz-transition: .3s;
          transition: .3s; }
        .popup_team .popup .top .close:hover svg {
          fill: #007096; }
    .popup_team .popup .content {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 177px 138px 277px; }
      .popup_team .popup .content .t {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 40px; }
      .popup_team .popup .content .txt {
        font-size: 18px;
        line-height: 28px; }

.top_page {
  margin: 50px 0 39px;
  position: relative; }
  .top_page .back {
    position: absolute;
    top: 0;
    left: 0;
    color: #007096;
    font-size: 28px;
    text-decoration: none;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }
    .top_page .back svg {
      -webkit-transition: .3s;
      -o-transition: .3s;
      -moz-transition: .3s;
      transition: .3s;
      fill: #007096; }
    .top_page .back span {
      margin-left: 11px; }
    .top_page .back:hover {
      color: #000000; }
      .top_page .back:hover svg {
        fill: #000; }
  .top_page h1 {
    font-size: 37px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 200px; }

.description_page {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 1090px;
  max-width: 100%;
  margin: 0 auto; }

.our_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 64px; }
  .our_team .item {
    width: -webkit-calc( (100% - 48px) / 4);
    width: -moz-calc( (100% - 48px) / 4);
    width: calc( (100% - 48px) / 4);
    margin-bottom: 60px; }
    .our_team .item:not(:nth-child(4n)) {
      margin-right: 16px; }
    .our_team .item .info {
      padding: 32px 22px;
      background: #ffffff; }
    .our_team .item img {
      width: 100%; }
    .our_team .item .name {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 10px; }
    .our_team .item .position {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 30px; }

.info_for_popup {
  display: none; }

.breadcrumbs {
  font-size: 18px;
  color: #848484;
  margin: 21px 0 0; }
  .breadcrumbs a {
    color: #848484;
    text-decoration: none; }
  .breadcrumbs span {
    font-weight: 600; }
  .breadcrumbs svg {
    margin: 0 14px 0 10px; }

@media all and (max-width: 1680px) {
  .slide_2, .slide_3, .slide_4, .slide_6, .slide_7, .slide_8, .slide_9 {
    margin-top: 100px; }
    .slide_2 .img_txt, .slide_3 .img_txt, .slide_4 .img_txt, .slide_6 .img_txt, .slide_7 .img_txt, .slide_8 .img_txt, .slide_9 .img_txt {
      background: #ffffff;
      padding-bottom: 60px; }
    .slide_2 .img_txt .image, .slide_3 .img_txt .image, .slide_4 .img_txt .image, .slide_6 .img_txt .image, .slide_7 .img_txt .image, .slide_8 .img_txt .image, .slide_9 .img_txt .image {
      padding-top: 60px;
      width: 35%;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
         -moz-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0; }
    .slide_2 .img_txt .text, .slide_3 .img_txt .text, .slide_4 .img_txt .text, .slide_6 .img_txt .text, .slide_7 .img_txt .text, .slide_8 .img_txt .text, .slide_9 .img_txt .text {
      display: block;
      width: 65%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding: 60px 40px 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none; }
      .slide_2 .img_txt .text h2, .slide_3 .img_txt .text h2, .slide_4 .img_txt .text h2, .slide_6 .img_txt .text h2, .slide_7 .img_txt .text h2, .slide_8 .img_txt .text h2, .slide_9 .img_txt .text h2 {
        margin-bottom: 50px; }
  .slide_6 .img_txt .text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .slide_8 .img_txt {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media all and (max-width: 1440px) {
  .img_txt {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .img_txt .text.pl {
    padding-left: 50px; }
  .slide_3 .page .text {
    height: auto; } }

@media all and (max-width: 1400px) {
  footer {
    margin-top: 100px; } }

@media all and (max-width: 1200px) {
  .our_team .item .name {
    font-size: 20px; }
  .our_team .item .position {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px; } }

@media all and (max-width: 1100px) {
  .slide_1 {
    padding: 100px 0 58px; }
    .slide_1 .page .right {
      width: 40%; }
    .slide_1 .page .left .img {
      margin-top: 30px; } }

@media all and (max-width: 1024px) {
  .slide_1 .page h1 {
    width: 100%; }
  header .text {
    font-size: 20px; }
  .slide_5 .items {
    padding: 60px 0 0; }
    .slide_5 .items .item {
      width: 33%; }
  .top_page h1 {
    font-size: 24px;
    line-height: 28px; }
  .top_page .back {
    font-size: 20px; }
  .our_team {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .our_team .item {
      width: -webkit-calc( (100% - 20px) / 2);
      width: -moz-calc( (100% - 20px) / 2);
      width: calc( (100% - 20px) / 2);
      margin-right: 0 !important; }
  .popup_team .popup .content {
    padding: 100px 40px; }
  .popup_team .popup .top .close {
    top: 20px;
    right: 20px; } }

@media all and (max-width: 920px) {
  footer .page:not(.bot_footer) {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    footer .page:not(.bot_footer) .left {
      width: 100%; }
    footer .page:not(.bot_footer) .right {
      width: 100%;
      margin-top: 40px; }
  footer .page.bot_footer a {
    margin-left: 30px; } }

@media all and (max-width: 800px) {
  .img_txt h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px; }
  header .page .bot {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    header .page .bot .btn_wrap {
      width: 100%;
      text-align: right; }
  .top_page h1 {
    padding: 0; } }

@media all and (max-width: 700px) {
  .slide_2, .slide_3, .slide_4, .slide_6, .slide_7, .slide_8, .slide_9 {
    margin-top: 60px; }
    .slide_2 .img_txt, .slide_3 .img_txt, .slide_4 .img_txt, .slide_6 .img_txt, .slide_7 .img_txt, .slide_8 .img_txt, .slide_9 .img_txt {
      padding-bottom: 0;
      background: none; }
      .slide_2 .img_txt .image, .slide_3 .img_txt .image, .slide_4 .img_txt .image, .slide_6 .img_txt .image, .slide_7 .img_txt .image, .slide_8 .img_txt .image, .slide_9 .img_txt .image {
        padding: 0; }
  .slide_1 {
    background: url("../img/mobile_bg.png") bottom left/cover no-repeat; }
  .slide_1 .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slide_1 .page .left {
      text-align: center;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding-bottom: 0; }
      .slide_1 .page .left .img {
        margin-left: 0; }
    .slide_1 .page .right {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
         -moz-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; }
    .slide_1 .page .left, .slide_1 .page .right {
      width: 100%;
      max-width: 100%; }
      .slide_1 .page .left h1, .slide_1 .page .right h1 {
        text-align: center; }
  .slide_1 .page h1 {
    text-align: center;
    margin-bottom: 0; }
  .slide_2 .page, .slide_3 .page, .slide_4 .page, .slide_6 .page, .slide_7 .page, .slide_8 .page, .slide_9 .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slide_2 .page .image, .slide_3 .page .image, .slide_4 .page .image, .slide_6 .page .image, .slide_7 .page .image, .slide_8 .page .image, .slide_9 .page .image {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      position: static; }
    .slide_2 .page .text, .slide_3 .page .text, .slide_4 .page .text, .slide_6 .page .text, .slide_7 .page .text, .slide_8 .page .text, .slide_9 .page .text {
      position: static;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
         -moz-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      width: 100%;
      margin-bottom: 20px;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px; }
      .slide_2 .page .text:not(.white_bg), .slide_3 .page .text:not(.white_bg), .slide_4 .page .text:not(.white_bg), .slide_6 .page .text:not(.white_bg), .slide_7 .page .text:not(.white_bg), .slide_8 .page .text:not(.white_bg), .slide_9 .page .text:not(.white_bg) {
        padding: 0; }
  .slide_2 .page .text, .slide_4 .page .text, .slide_6 .page .text {
    padding: 40px 20px; } }

@media all and (max-width: 550px) {
  header {
    padding: 12px 0 16px; }
  header .page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .page .top {
      margin-top: 20px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
         -moz-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .page .top .phone {
        margin-bottom: 20px; }
      header .page .top .clock {
        margin: 0; }
    header .page .bot {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
         -moz-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 30px; }
      header .page .bot .text {
        margin: 20px 0; }
      header .page .bot .btn_wrap {
        text-align: center; }
  .slide_1 {
    padding: 40px 0 100px; }
    .slide_1 .page {
      padding: 0 40px; }
      .slide_1 .page h1 {
        font-size: 18px;
        line-height: 28px;
        text-align: left; }
      .slide_1 .page .left {
        padding: 0; }
      .slide_1 .page .right .btn {
        width: 160px;
        height: 31px;
        font-size: 16px; }
  .slide_3 .page .text {
    padding: 30px 20px; }
  .slide_4 {
    margin-top: 60px; }
    .slide_4 .page h2 {
      margin-bottom: 40px; }
  .slide_5 .items .item {
    width: 100%;
    margin-bottom: 30px; }
  .slide_6 {
    margin-top: 60px; }
    .slide_6 .img_txt .quote {
      font-size: 22px; }
    .slide_6 .img_txt .author {
      font-size: 18px; }
  .slide_7, .slide_8, .slide_9 {
    margin-top: 60px; }
    .slide_7 .page .text, .slide_8 .page .text, .slide_9 .page .text {
      padding: 30px 20px; }
  footer .title {
    font-size: 28px !important; }
  footer .fields {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    footer .fields input {
      width: 100% !important; } }

@media all and (max-width: 500px) {
  .our_team .item {
    width: 100%; }
  .popup_team .popup .content {
    padding: 60px 40px 60px 20px; }
    .popup_team .popup .content .t {
      font-size: 24px;
      margin-bottom: 20px; }
    .popup_team .popup .content .txt {
      font-size: 16px; } }

@media all and (max-width: 400px) {
  .img_txt h3 {
    padding-left: 0;
    margin-bottom: 20px; }
    .img_txt h3:after {
      display: none; } }

/*# sourceMappingURL=maps/styles.css.map */
