<footer>
    <div class="page">
        <div class="left">
            <div class="title">
                You want to know more about Handwerk Connected?
                <br>
                We are happy to contact you:
            </div>
            <form action="" id="contact_form">
                <div class="fields">
                    <div class="select">
                        <input type="text" placeholder="Salutation" readonly onclick="handwerk.openSelect($(this))">
                        <div class="drop_select">
                            <div class="i current"></div>
                            <div class="i">Herr</div>
                            <div class="i">Frau</div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <input class="col_3" type="text" placeholder="Name*">
                    <input class="col_3" type="text" placeholder="Surname*">
                    <input class="col_3" type="email" placeholder="E-mail*">
                </div>
                <div class="fields">
                    <input class="col_3" type="text" placeholder="Phone*">
                    <input class="col_2" type="text" placeholder="Company name">
                </div>
                <div class="fields">
                    <textarea class="col_1" placeholder="Your message"></textarea>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="check_1">
                    <label for="check_1">I agree that Handwerk Connected GmbH processes my data for the purpose of processing my request and contacts me. I can revoke my consent at any time without giving reasons. *</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="check_2">
                    <label for="check_2">I have read and agree to the privacy policy. *</label>
                </div>
                <span class="required">Required fields*</span>
                <div class="button">
                    <button class="btn">Send</button>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="title">Handwerk Connected GmbH</div>
            <div class="address">
                Friedhofstr.22 <br>
                42929 Wermelskirchen
            </div>
            <div class="contacts">
                <div class="phones">
                    Tel: <a href="tel:021968849660">02196 88 49 660</a> <br>
                    Fax: <a href="fax:021968849662">02196 88 49 662</a> <br>
                </div>
                <div class="email">
                    Email: <a href="mailto:info@handwerkconnected.de">info@handwerkconnected.de</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page bot_footer">
        <a href="#">Imprint</a>
        <a href="#">Privacy Policy</a>
    </div>
</footer>