<header>
    <div class="page">
        <div class="top">
            <a class="phone" href="tel:021968849660">02196 – 88 49 660</a>
            <span class="clock">Mon – Fre 08:00 – 16:00</span>
        </div>
        <div class="bot">
            <a href="/" id="logo">
                <img src="img/logo.svg" width="198" height="59" title="Handwerk" alt="Handwerk">
            </a>
            <div class="text">GEMEINSAM.EINFACH.BESSER.</div>
            <div class="btn_wrap">
                <button class="btn" onclick="handwerk.goToBlock('contact_form')">Contact form</button>
            </div>
        </div>
    </div>
</header>